In [100]:
import os 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import re
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords

pd.set_option("display.max_rows", 100)
pd.set_option("display.max_columns", 100)
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/sadakanekazuma/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [73]:
os.listdir("dataset")

['IMDB Dataset.csv']

In [74]:
file_dir = os.path.join("./", "dataset/", "IMDB Dataset.csv")

In [75]:
df = pd.read_csv(file_dir)

In [76]:
df.head(3)

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive

In [77]:
df.iloc[1].review

'A wonderful little production. <br /><br />The filming technique is very unassuming- very old-time-BBC fashion and gives a comforting, and sometimes discomforting, sense of realism to the entire piece. <br /><br />The actors are extremely well chosen- Michael Sheen not only "has got all the polari" but he has all the voices down pat too! You can truly see the seamless editing guided by the references to Williams\' diary entries, not only is it well worth the watching but it is a terrificly written and performed piece. A masterful production about one of the great master\'s of comedy and his life. <br /><br />The realism really comes home with the little things: the fantasy of the guard which, rather than use the traditional \'dream\' techniques remains solid then disappears. It plays on our knowledge and our senses, particularly with the scenes concerning Orton and Halliwell and the sets (particularly of their flat with Halliwell\'s murals decorating every surface) are terribly well done.'

In [78]:
df.shape

(50000, 2)

In [79]:
df.isna().sum()

review       0
sentiment    0
dtype: int64

In [80]:
df["sentiment"].value_counts() / df["sentiment"].value_counts().sum()

positive    0.5
negative    0.5
Name: sentiment, dtype: float64

In [81]:
df_review = df.copy()
df_review.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [82]:
df_review.review = df_review.review.apply(lambda x: re.sub(r"<.*>", "", x))
df_review.review = df_review.review.apply(lambda x: re.sub(r"[^0-9a-zA-Z ]", "", x))

In [86]:
from sklearn.model_selection import train_test_split

In [90]:
train_X, test_X, train_y, test_y = train_test_split(df_review.review, df_review.sentiment, test_size=0.2, shuffle=True)

In [101]:
word_list = []
df_review.review.apply(lambda x: word_list.extend(word_tokenize(x)))

0        None
1        None
2        None
3        None
4        None
         ...
49995    None
49996    None
49997    None
49998    None
49999    None
Name: review, Length: 50000, dtype: object